<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="alta-cuenta">



  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Añadimos la librería de estilos BootstrapCDN, para darle aspecto molón
  Lo añadimos aquí para que sólo afecte al componente, no a lo que no es polymer-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<!-- Vamos a añadir estilos de bootstrap a las cabeceras-->
    <h2 class="col-md-12"> Alta de cuenta </h2>
    <div class="container">

          <h6 class="col-md-12"> IBAN
            <input type="text" required value="{{IBAN::input}}" size="30" maxlength="29"/>
          </h6>
          <h6 class="col-md-5"> Saldo inicial
            <input type="number" step=0.01 required value="{{balance::input}}" /> </h6>
    </div>
        <h4 class="col-md-12"> ¿Crear cuenta?</h4>
      <!-- CUIDADO, hay que enlazar el input con el valor de la propiedad con value.
       Debe hacerse con two ways, para que cualquier cambio se refleje en ambos
      -->
      <!--   CUIDADO, es on-click con guión, porque es de polymer, no es el onclick de HTML)
      -->
      <button class="btn btn-success" on-click="guardar"   > Guardar</button>
      <button class="btn btn-warning" on-click="cancelar"   > Salir sin guardar</button>

      <!--  Ponemos una propiedad de boostrap , oculto al principio donde
      pone si se ha hecho bien la actualización  -->
      <span hidden$="{{!grabacionOK}}"><strong>Cuenta creada correctamente</strong></span>

      <!-- Etiqueta que sólo se mostrará si no se ha hecho registro ok,
       presentando el error que guardemos en esa variable  -->
      <span hidden$="{{grabacionOK}}">{{msgError}}</span>

      <!-- Incluimos el enlace para poder ver las cuentas (sólo visible si todo ha ido bien)
      -->
      <button hidden$="{{!grabacionOK}}" class="btn btn-link"><a href="/viewcuentas"> Ver todas mis cuentas </a></button>




   <iron-ajax
    id = "doAltaCuenta"
    url = "[[baseURL]]/apiecs/v2/newaccount"
    content-type = "application/json"
    method="POST"
    handle-as = "json"
    on-response = "manageAJAXResponse"
    on-error = "showError"
   ></iron-ajax>

  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaCuenta extends Polymer.Element {
      static get is() { return 'alta-cuenta'; }
      static get properties() {
        return {
          baseURL: {                // Para invocar al API
            type: String
          },
          este_modulo: {
            type: String,
            observer: '_limpiar'   //En cuanto cambie, que vaya a buscar
                          // limpiar variables
          },
          user_id: {
            type: Number
          },
          IBAN: {
            type: String
          },
          balance: {
            type: Number,
            value: parseFloat(0.00)
          },
          grabacionOK: {
            type: Boolean,
            value: false
          },
          msgError: {
            type: String,
            value : ''
          }

        };
      }  // fin properties

      _limpiar(){
        this.IBAN="";
        this.balance=parseFloat(0.00);
        this.msgError="";
        this.grabacionOK = false;
      }

      constructor() {
          super();
          /*recojo del bus el módulo en el que estamos. De esta manera, al ver que
          hay cambio de módulo, se fuerza la ejecución de la consulta.
              Ver observer de la propiedad this.este_modulo*/
          let subscripter_modulo = PubSub.subscribe('modulo').on(value => this.este_modulo = value);

          this.IBAN="";
          this.balance=parseFloat(0.00);
          this.grabacionOK = false;
          this.msgError="";

          /*recojo del bus la url base desde donde se invocará al API del back-end
          de la aplicación.*/
          let subscripter_baseURL = PubSub.subscribe('baseURL').on(value => this.baseURL = value);

      } // Fin del constructor



      // Salir sin guardar cambios
      cancelar(){

          console.log("No quiero grabar nueva cuenta");

          // Para ocultar texto de cambios, por si estaba visible de antes
          this.grabacionOK = false;
          this.msgError="";
          // Volvemos donde estábamos.
          history.back();

      }

      // Guardar las modificaciones
      guardar(){


          var hay_error = false;
          console.log("Quiero guardar cambios " );

          // Para ocultar texto de cambios, por si estaba visible de antes
          this.grabacionOK = false;
          this.msgError="";

          // Comprobaciones
          var iban_valido = fn_ValidateIBAN(this.IBAN);

          if (iban_valido != true) {
            alert ("IBAN no válido");
            hay_error = true;
          }

          // hacer comprobaciones de valor numérico en balance
          if (!hay_error) {

            var changedData = {
              "user_id" : this.user_id,
              "IBAN" : this.IBAN,
              "balance" : parseFloat(this.balance)
            };
            // Tenemos que pasar estos datos al iron-ajax, eso se hace con $
            // y se invoca al identificador, el id de ese componente (doAltaCuenta)
            this.$.doAltaCuenta.body = JSON.stringify(changedData);
            /*recojo del bus el token JWT, que fue metido en authorization
               (lo metimos en cuanto nos lo devolvió el servidor tras hacer el
             login correcto del usuario)*/
            // Porque si no lo paso en la cabecera, la API me dirá que no estoy autorizado
            var token;
            let subscripter_token = PubSub.subscribe('authorization').on(value => token = value);
            this.$.doAltaCuenta.headers.authorization = token;

            // Para mandar esta petición, se hace con generateRequest
            this.$.doAltaCuenta.generateRequest();
            console.log("Petición de creación de cuenta enviada");
          } // Fin de no hay error



      }  // Fin del guardar

      /* Hacemos la funcion manejadora del ajax de update. Por aquí sólo pasa
      si no hay error (400 o 500), porque en ese caso se iría al on-error*/
      manageAJAXResponse(data){
        console.log("Recibida la respuesta del servidor");
        console.log(data.detail.response);

        console.log("Cambios guardados correctamente");

        this.grabacionOK = true;


        // Para mostrar la página de alta-cuenta una vez conectado
//        window.location= "/user/" + data.detail.response.id;
      }

      // mostrar posible error en el update
      showError(error) {
        console.log("Hubo un error");
        console.log(error);
        console.log(error.detail.request.xhr.response);
        this.msgError = error.detail.request.xhr.response.msg;
      }


    }    // Fin de la clase RegistroUsuario


    window.customElements.define(AltaCuenta.is, AltaCuenta);
  </script>
</dom-module>
