<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Añadimos la librería de estilos BootstrapCDN, para darle aspecto molón
  Lo añadimos aquí para que sólo afecte al componente, no a lo que no es polymer-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <div class="row">
<!-- Vamos a añadir estilos de bootstrap a las cabeceras-->
    <h2 class="col-md-12"> Login</h2>
  </div>

  <!-- CUIDADO, hay que enlazar el input con el valor de la propiedad con value.
   Debe hacerse con two ways, para que cualquier cambio se refleje en ambos-->
<table>
  <tr>
    <td>
<form id="main">
   <div class="container" width="50%">
     <div class="form-group">
       <label for="email">Email address</label>
       <input type="email" class="form-control" id="email"
          aria-describedby="emailHelp" placeholder="Enter email" value="{{email::input}}" required>
       <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
     </div>
     <div class="form-group">
       <label for="password" hidden$="{{isLogged}}">Password</label>
       <input type="password" class="form-control" id="password"
          placeholder="Password" value="{{password::input}}" hidden$="{{isLogged}}" required>
     </div>
      <table>
        <tr>
          <td>
             <button class="btn btn-default" on-click="login" hidden$="{{isLogged}}"  > Login</button>
          </td>
          <td>
          </td>
        </tr>
      </table>
   </div>

   <!-- Quitamos la parte de auto del iron-ajax porque no queremos que se ejecute
   automáticamente, sólo al pulsar botón login  (en el evento on-click del boton Login
   CUIDADO, es on-click con guión, porque es de polymer, no es el onclick de HTML)
   además le decimos el como es el mime type del contenido, con content type
       Para decir que es un  put, hay que indicarlo
     Y también es conveniente tratar el error con on-error   -->
      <iron-ajax
       id = "doLogin"
       url = "[[baseURL]]/apiecs/v2/login"
       content-type = "application/json"
       method="PUT"
       handle-as = "json"
       on-response = "manageAJAXResponse"
       on-error = "showError"
      ></iron-ajax>

      <iron-ajax
       id = "doEnvio"
       url = "[[baseURL]]/apiecs/v2/mail"
       content-type = "application/json"
       method="PUT"
       handle-as = "json"
       on-response = "manageAJAXResponseMail"
       on-error = "showError"
      ></iron-ajax>




</form>
</td>
<td>
<button class="btn btn-warning" on-click="envioMail" hidden$="{{isLogged}}"  > Olvidé password</button>
</td>
</tr>
</table>
      <!--  Ponemos una propiedad de boostrap , oculto al principio donde pone si estás  conectado  -->
      <h3>
        <span hidden$="{{!enviadoRecordatorio}}"><strong> The Count Accounts </strong> te ha enviado un correo recordándote la clave</span>

        <span hidden$="{{!isLogged}}">Conexión correcta. Bienvenido a <strong> The Count Accounts </strong></span>

        <button class="btn btn-link" hidden$="{{!isLogged}}"><a href="/viewcuentas"> Ver mis cuentas </a></button>
    </h3>
    </div>





  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {

      static get is() { return 'login-usuario'; }

      static get properties() {
        return {
          baseURL: {                // Para invocar al API
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value: false
          },
          enviadoRecordatorio :{      // Si se ha enviado mail recordando clave
            type: Boolean,
            value: false
          }
        };
      }

      constructor() {
        super();

        /*recojo del bus la url base desde donde se invocará al API del back-end
        de la aplicación.*/
        let subscripter_baseURL = PubSub.subscribe('baseURL').on(value => this.baseURL = value);

     } // Fin del constructor



      login(){
        console.log("El usuario ha hecho cliqui en el botón de login");
        this.enviadoRecordatorio = false;    //Oculto el mensaje, por si estuviera visible
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

        // Así nos referimos a los elementos del formulario con esos id
        // (main, el propio formulario y email, el input donde se pone el email)
        var formulario  = this.$.main;
        var correo = this.$.email;

        if (formulario.checkValidity()) {
              // Sólo entraremos por aquí si todos los campos están bien validados.

          formulario.addEventListener("submit", function (event) {
            // Cada vez que el usuario intenta enviar los datos, verificamos
            // si el campo de correo es válido.

            event.preventDefault();
            if (!correo.validity.valid) {
              // Puedo hacer mis cosas
              // Y prevenimos que el formulario sea enviado, cancelando el evento
              event.preventDefault();
            } else {
              // Tenemos que pasar estos datos al iron-ajax, eso se hace con $
              // y se invoca al identificador, el id de ese componente (doLogin)
              // se necesita el parentNode.host para "salir" del formulario
              this.parentNode.parentNode.parentNode.parentNode.parentNode.host.$.doLogin.body = JSON.stringify(loginData);
              this.parentNode.parentNode.parentNode.parentNode.parentNode.host.$.doLogin.generateRequest();
              console.log("Petición enviada");
              // Y prevenimos que el formulario sea enviado, cancelando el evento
              event.preventDefault();

            }
          }, false);
        }
      } // Fin de login()

      /* Hacemos la funcion manejadora del ajax . Por aquí sólo pasa
      si no hay error (400 o 500), porque en ese caso se iría al on-error*/
      manageAJAXResponse(data){
        console.log("Recibida la respuesta del servidor");
        console.log(data.detail.response);
        this.isLogged = true;

        //Si nos hemos conectado, se publica el id del usuario en el bus
        // así, el resto de componentes "sabrán" que hay un usuario conectado
        // También se publica la ciudad, para poder ver el tiempo.
         PubSub.subscribe('usuario');   // Primero hay que suscribirse para usarlo
         PubSub.publish('usuario',data.detail.response.id);
         PubSub.subscribe('city');   // Primero hay que suscribirse para usarlo
         PubSub.publish('city',data.detail.response.city);
         PubSub.subscribe('conectado');   // Primero hay que suscribirse para usarlo
         PubSub.publish('conectado',true);

         // Además, vamos a publicar en el bus de usuario el token recibido para JWT
         // Así lo tendremos disponible para que todos los módulos lo incluyan
         // en el headers en cada petición que hagamos hacia el servidor
         PubSub.subscribe('authorization');   // Primero hay que suscribirse para usarlo
         PubSub.publish('authorization',data.detail.response.token);

      }    // Fin manageAJAXResponse

      envioMail(){
        console.log("Enviar email recordatorio de clave");
        this.enviadoRecordatorio = false;    //Oculto el mensaje, por si estuviera visible

        // Así nos referimos a los elementos del formulario con esos id
        // (main, el propio formulario y email, el input donde se pone el email)
        var formulario  = this.$.main;
        var correo = this.$.email;

        if (correo.checkValidity()) {

              // Tenemos que pasar estos datos al iron-ajax, eso se hace con $
              // y se invoca al identificador, el id de ese componente (doEnvio)
              // se necesita el parentNode.host para "salir" del formulario
              this.$.doEnvio.headers.email = this.email;
              this.$.doEnvio.body = JSON.stringify({});
              this.$.doEnvio.generateRequest();
              console.log("Petición enviada");
              // Y prevenimos que el formulario sea enviado, cancelando el evento
        } else {
          alert("Formato de email no válido");
        }
      } // Fin de envioMail()

      /* Hacemos la funcion manejadora del ajax de envio de recordatorio . Por aquí sólo pasa
      si no hay error (400 o 500), porque en ese caso se iría al on-error*/
      manageAJAXResponseMail(data){
        console.log("Recibida la respuesta del servidor");
        console.log(data.detail.response);
        this.enviadoRecordatorio = true;
      }    // Fin manageAJAXResponseMail



      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }

    } // fin de la clase LoginUsuario

    window.customElements.define(LoginUsuario.is, LoginUsuario);



  </script>
</dom-module>
