<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- Para poder procesar varias cunetas que traiga la respuesta se usa este elemento -->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<!-- añadimos el componente con el catálogo -->
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">


<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- Añadimos la librería de estilos BootstrapCDN, para darle aspecto molón
  Lo añadimos aquí para que sólo afecte al componente, no a lo que no es polymer-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <div class="row">
<!-- Vamos a añadir estilos de bootstrap a las cabeceras-->
    <h2 class="col-md-12"> Movimientos de la cuenta [[IBAN]] </h2>

    <!-- Incluimos botones para crear nuevo movimiento
      y para modificar movimientos (sólo visible si hay una fila seleccionada)
    -->
    <div class="container">
      <div class="form-group">
        <!-- Vamos a añadir estilos de bootstrap a las cabeceras-->
        <table class="table table-primary" style="width:60%" align="right">
          <tr>
            <td>
              <button class="btn btn-link"><a href="/viewaltamovimiento"> Crear un movimiento</a></button>
            </td>
            <td>
              <button  class="btn btn-link"><a href="/viewcuentas"> Volver a ver mis cuentas </a></button>
            </td>
            <td align="right">
              <button  hidden$="{{ver_filtros}}" class="btn btn-primary" on-click="_mostrarFiltro"> Filtrar movimientos </button>
            </td>
          </tr>
        </table>
      </div>
      <div class="form-group" hidden$="{{!ver_filtros}}" >
        <table class="table table-primary" style="width:100%" align="right">
          <tr>
            <td>
              <h6 class="col-md-7">Filtrar movimientos </h6>
            </td>
            <td>
              <h6 class="col-md-7"> Fecha desde
                <input type="date" value="{{date_desde::input}}" /> </h6>
            </td>
            <td>
              <h6 class="col-md-7"> Fecha hasta
                <input type="date" value="{{date_hasta::input}}" /> </h6>
            </td>
            <td align="center">
                <button  class="btn btn-primary" on-click="_buscaMovimientos"> Filtrar</button>
                <button  class="btn btn-default" on-click="_ocultarFiltro">
                                Cerrar filtro </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row" hidden$="{{!hay_fila_seleccionada}}">
    <div class="container">
      <div class="form-group">
        <!-- Vamos a añadir estilos de bootstrap a las cabeceras-->
        <table class="table table-primary" style="width:20%" align="left">
          <tr>
            <td align="center">
            <!--   El tratamiento de borrar movimiento lo vamos a hacer algo diferente
                a como hemos hecho el resto de módulos; en vez de invocar a una nueva página,
              vamos a ejecutar la función de borrado aquí-->
              <button  class="btn btn-default" on-click="_borrarMovimiento"> Borrar movimiento </button>
           </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div hidden$="{{!borrado_ok}}" >
    <p class="text-warning"><strong>Ok!</strong> Movimiento borrado correctamente </p>
  </div>
  <div hidden$="{{!problema_borrado}}" >
    <p class="text-warning"><strong>Atención!</strong> Movimiento no borrado</p>
  </div>




  <iron-ajax
   id = "doBuscaMov"
   url = "[[baseURL]]/apiecs/v2/users/account/movements"
   method="GET"
   content-type = 'application/json'
   handle-as = "json"
   on-response = "manageAJAXResponse"
   on-error = "showError"
  ></iron-ajax>

  <!-- Para poder borrar un movimiento.
     Se hace un PUT con el body vacío y en header se pasa el id que se quiere borrar
      Así es como se borra en MLab-->
  <iron-ajax
   id = "doDeleteMovimiento"
   url = "[[baseURL]]/apiecs/v2/users/account/deletemovement"
   content-type = "application/json"
   method="PUT"
   handle-as = "json"
   on-response = "manageAJAXDelete"
   on-error = "showErrorDelete"
  ></iron-ajax>



     <!--
      El comportamiento de la selección es un poco extraño, pues si pulsas
      sobre una fila seleccionada no lanza el evento on-row-unselected con
      lo cual no sabemos si se marca o no. Por ello uso on-click, pero tiene
      un comportamiento raro. En principio, la varialbe this.$.movimientos.selectedTableRow
      debe contener un -1 si no hay fila seleccionada, pero no lo hace exactamente
      así. Por ello, sabiendo que on-click salta antes que
      on-row-select, hacemos que se ejecute la función _onclick() , que pondrá
      a "cero" las variables de selección
     -->

    <simple-material-table id="movimientos"
            columns="[[columns]]" table-data="[[_movements]]"
            on-row-selected="_onRowSelected"
            on-row-unselected="_onRowUnselected"
            on-click="_onclick"
            >
    </simple-material-table>




  </template>


  <script>





    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          baseURL: {                // Para invocar al API
            type: String
          },
          este_modulo: {
            type: String,
            observer: '_buscaMovimientos'   //En cuanto cambie, que vaya a buscar
                          // las movimientos de esa cuenta
          },
          id_user: {
            type: Number
          },
          id_cuenta: {
            type: Number
          },
          IBAN : {
            type: String
          },
          _movements: {     // Para sacar la lista de todas los movimientos
            type: Array
          },
          columns: {
            type : Array
          },
          hay_fila_seleccionada: {
            type: Boolean,
            value: false
          },
          fila: {     // Donde está la fila selecionada
            type: String
          },
          ver_filtros: {    // Permite saber si se muestran las cajas para filtrar
            type: Boolean,
            value:false
          },
          date_desde: {    // Filtro fecha desde
            type: Date,
            value: "1970-01-01"
          },
          date_hasta: {    // Filtro fecha hasta
            type: Date,
            value: "2100-12-31"
          },
          borrado_ok:{
            type:Boolean,
            value:false
          },
          problema_borrado: {
            type:Boolean,
            value:false
          }


        };
      }


      _mostrarFiltro(){
        this.ver_filtros = true;
      }

      _ocultarFiltro(){
        this.ver_filtros = false;
        this.date_desde = "1970-01-01";
        this.date_hasta = "2100-12-31";
        // Volvemos a llamar a buscar movimientos de todo el periodo
        this._buscaMovimientos();

      }


      _onclick() {
        this.hay_fila_seleccionada = false;
        this.fila=null;
        this.borrado_ok=false;
        this.problema_borrado = false;
      }


      //  Tratamientos para
       //  el componente simple-material-table
       _onRowSelected(data) {
         this.hay_fila_seleccionada = true;
         this.fila = data.detail;
         this.borrado_ok=false;
         this.problema_borrado = false;
       }

       _onRowUnselected(data) {
         this.hay_fila_seleccionada = false;
         this.borrado_ok=false;
         this.problema_borrado = false;
       }

      constructor() {
        super();
            // Relleno las cabeceras de la tabla
            this.columns = [{
                      title: "date",
                      number: false,
                      column: 'date',
                      formatter: function (value) {       //Convertir Date ISO
                        return convertDate(value.$date);  // de la bbdd en DD/MM/YYYY
                      },
                      hidden: false
                    }, {
                      title: "amount",
                      number: true,
                      column: 'amount',
                      formatter: function (value) {
                        return parseFloat(value).toFixed(2);
                      },
                      hidden: false
                    }, {
                      title: "type",
                      number: false,
                      column: 'type',
                      hidden: false
                    }, {
                      title: "description",
                      number: false,
                      column: 'description',
                      hidden: false
                    }
                   ];


      /*recojo del bus el módulo en el que estamos. De esta manera, al ver que
      hay cambio de módulo, se fuerza la ejecución de la consulta.
          Ver observer de la propiedad this.este_modulo*/
      let subscripter_modulo = PubSub.subscribe('modulo').on(value => this.este_modulo = value);
      /*recojo del bus el IBAN de la cuenta seleccionada*/
      let subscripter_IBAN = PubSub.subscribe('IBAN').on(value => this.IBAN = value);
      /*recojo del bus la url base desde donde se invocará al API del back-end
      de la aplicación.*/
      let subscripter_baseURL = PubSub.subscribe('baseURL').on(value => this.baseURL = value);


     } // Fin del constructor



      _buscaMovimientos(){

        // Comenzamos borrando variables que pudiesen estar de antes, de otra
        // vez que hubiésemos entrado a esta pantalla
        if (!this.ver_filtros) {
            // Si se estaba viendo el filtro, lo dejamos como estaba, si no, lo ocultamos
            this.ver_filtros = false;
        }
        this.hay_fila_seleccionada = false;
        this.borrado_ok = false;
        this.problema_borrado = false;



        this.$.doBuscaMov.headers.id_cuenta = this.id_cuenta;

        // Lo primero que hacemos es vaciar la lista de movimientos, para no
        // ver cosas que no correspondan

        this._movements="";



            var fecha_desde ;
            var formattedDateDesde ;
            var fecha_hasta ;
            var formattedDateHasta ;
            if( this.date_desde !== undefined){
                 fecha_desde = new Date(this.date_desde);
                 formattedDateDesde = fecha_desde.toISOString() ;
            }
            if( this.date_hasta !== undefined){
               fecha_hasta = new Date(this.date_hasta);
               formattedDateHasta = fecha_hasta.toISOString() ;

              this.$.doBuscaMov.headers.fecha_desde = formattedDateDesde;
              this.$.doBuscaMov.headers.fecha_hasta = formattedDateHasta;
        }
        /*recojo del bus el token JWT, que fue metido en authorization
           (lo metimos en cuanto nos lo devolvió el servidor tras hacer el
         login correcto del usuario)*/
        // Porque si no lo paso en la cabecera, la API me dirá que no estoy autorizado
        var token;
        let subscripter_token = PubSub.subscribe('authorization').on(value => token = value);
        this.$.doBuscaMov.headers.authorization = token;


        // Para mandar esta petición, se hace con generateRequest
        this.$.doBuscaMov.generateRequest();
        console.log("Petición enviada");
      }


      /* Hacemos la funcion manejadora del ajax */
      manageAJAXResponse(data){

        // Para sacar todas las movimientos
        this._movements = data.detail.response;

      }

      showError(error) {
        this._movements = "";
        console.log("Hubo un error");
        console.log(error);
      }


      _borrarMovimiento(){
        //Sólo se manda el headers, para después meterlo en la query. El body vacío. Así se borra
        // TAmbién psamos el id_cuenta origen, y el importe, para actualizar
        // el balance.
        this.$.doDeleteMovimiento.headers.id = this.fila.id;
        this.$.doDeleteMovimiento.headers.cuenta_id = this.id_cuenta;
        this.$.doDeleteMovimiento.headers.amount = this.fila.amount;

        // El body tiene que ir vacío, para borrar
        this.$.doDeleteMovimiento.body = {}

        /*recojo del bus el token JWT, que fue metido en authorization
           (lo metimos en cuanto nos lo devolvió el servidor tras hacer el
         login correcto del usuario)*/
        // Porque si no lo paso en la cabecera, la API me dirá que no estoy autorizado
        var token;
        let subscripter_token = PubSub.subscribe('authorization').on(value => token = value);
        this.$.doDeleteMovimiento.headers.authorization = token;

        // Para mandar esta petición, se hace con generateRequest
        this.$.doDeleteMovimiento.generateRequest();
        console.log("Petición de borrado de movimiento enviado");

      } // Fin de borrarMovimiento

        /* Hacemos la funcion manejadora del ajax de borrado de  movimiento. Por aquí sólo pasa
        si no hay error (400 o 500), porque en ese caso se iría al on-error*/
      manageAJAXDelete(data){

          // Ejecutamos la consulta de nuevo, para actualizar la tabla de movimientos
          this._buscaMovimientos();
          this.borrado_ok = true;
          this.date_desde = "1970-01-01";
          this.date_hasta = "2100-12-31";

        }

        // mostrar posible error en el movimiento Destino
      showErrorDelete(error) {
          console.log("Hubo un error al borrar movimiento origen");
          console.log(error);
          console.log(error.detail.request.xhr.response);

          this.problema_borrado = true;
          this.date_desde = "1970-01-01";
          this.date_hasta = "2100-12-31";

        }


    }   // Fin de la clase VisorMovimientos



    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
