<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- PAra que funcione el on-tap  , gestual para móviles -->
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<dom-module id="receptor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <h3> Soy el receptor </h3>
        <!-- Vamos a escribir lo que recojamos en el evento del emisor-->
   <h3>  Este curso es {{course}}</h3>
   <h3>en el año {{year}}</h3>
   <!-- vamos a añadir un input de texto para poder modificar la propiedad
 course y ver cómo cambia. Lo hemos puesto sólo para ver como cambia-->
   <input type="text" value="{{course::input}}"></input>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
    /* Para que funcione el on-tap, debe extender de otra clase, no se hace así:
    class GestorEvento extends Polymer.Element {
    se hace así */
   class ReceptorEvento extends Polymer.GestureEventListeners(Polymer.Element) {

     static get is() { return 'receptor-evento'; }
     static get properties() {
       return {
         course: {
           type : String,
           observer :  '_courseChanged'    /* Añadimos un observador para que
                  cada vez que varíe esa propiedad, lanza ese _courseChanged*/
         },
         year: {
           type : String
         }
       };
     }


     // Función para mostrar los datos recibidos del evento
     showData(data){
       console.log("Datos recibidos en el receptor");
       console.log(data);
       this.course = data.course;
       this.year = data.year;
     }

     // Función observadora de los cambios en la propiedad course
     _courseChanged (newValue, oldValue){   //los parámetros es convención
                // son dos parámetros pero se podrían llamar como quisiéramos
       console.log ("El valor de course ha cambiado");
       console.log ("El valor antiguo era: " + oldValue );
       console.log ("El valor nuevo era: " + newValue );


     }
   }

   window.customElements.define(ReceptorEvento.is, ReceptorEvento);
 </script>
</dom-module>
