<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- Para poder procesar varias cunetas que traiga la respuesta se usa este elemento -->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<!-- Importar tabla chula -->
<!-- añadimos el componente con el catálogo -->
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">
<link rel="import" href="../../bower_components/iron-iconset-svg/iron-iconset-svg.html">


<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <!-- Añadimos la librería de estilos BootstrapCDN, para darle aspecto molón
  Lo añadimos aquí para que sólo afecte al componente, no a lo que no es polymer-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <div class="row">

    <h2 class="col-md-12"> Mis Cuentas</h2>

    <!-- Incluimos botones para crear nueva cuenta
      y para consultar movimientos (sólo visible si hay una fila seleccionada)
    -->
    <div class="container">
      <div class="form-group">
        <!-- Vamos a añadir estilos de bootstrap a las cabeceras-->
        <table class="table table-primary" style="width:60%" align="right">
          <tr>
            <td>
                <button hidden$="{{!hay_fila_seleccionada}}" class="btn btn-link"><a href="/viewmovimientos"> Ver movimientos de la cuenta </a></button>
            </td>
            <td>
              <button hidden$="{{!hay_fila_seleccionada}}" class="btn btn-link"><a href="/viewtransferencia"> Hacer una transferencia </a></button>
            </td>
            <td align="right">
                <button class="btn btn-link"><a href="/viewaltacuenta"> Crear una cuenta</a></button>
            </td>
          </tr>
        </table>
      </div>
    </div>


  </div>



  <iron-ajax
   id = "doBusca"
   url = "[[baseURL]]/apiecs/v2/user/accounts"
   method="GET"
   handle-as = "json"
   on-response = "manageAJAXResponse"
   on-error = "showError"
  ></iron-ajax>



     <!--
      El comportamiento de la selección es un poco extraño, pues si pulsas
      sobre una fila seleccionada no lanza el evento on-row-unselected con
      lo cual no sabemos si se marca o no. Por ello uso on-click, pero tiene
      un comportamiento raro. En principio, la varialbe this.$.cuentas.selectedTableRow
      debe contener un -1 si no hay fila seleccionada, pero no lo hace exactamente
      así. Por ello, sabiendo que on-click salta antes que
      on-row-select, hacemos que se ejecute la función _onclick() , que pondrá
      a "cero" las variables de selección
     -->

    <simple-material-table id="cuentas"
            columns="[[columns]]" table-data="[[_accounts]]"
            on-row-selected="_onRowSelected"
            on-row-unselected="_onRowUnselected"
            on-click="_onclick"
            >
    </simple-material-table>


  </template>
  <script>





    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          baseURL: {                // Para invocar al API
            type: String
          },
          este_modulo: {
            type: String,
            observer: '_buscaCuentas'   //En cuanto cambie, que vaya a buscar
                          // las cuentas de ese usuario
          },
          id_user: {
            type: Number
          },
          IBAN: {                   // El de la fila seleccionada, si la hubiera
            type: String
          },
          balance: {              // El de la fila seleccionada, si la hubiera
            type: Number
          },
          _accounts: {     // Para sacar la lista de todas las cuentas
            type: Array
          },
          columns: {
            type : Array
          },
          hay_fila_seleccionada: {
            type: Boolean,
            value: false
          },
          fila: {     // Donde está la fila selecionada
            type: String
          }

        };
      }



      _onclick() {
        this.hay_fila_seleccionada = false;
        this.fila=null;
        // Vamos a publicar en el bus de eventos el id de la cuenta seleccionada
        // (que en este caso, al no haber ninguna, se pone -1, para borrar la
        // que pudiese haber de antes). El balance lo ponemos a 0
        PubSub.subscribe('idcuenta');   // Primero hay que suscribirse para usarlo
        PubSub.publish('idcuenta',-1);
        PubSub.subscribe('IBAN');   // Primero hay que suscribirse para usarlo
        PubSub.publish('IBAN',0);

      }


      //  Tratamientos para
       //  el componente simple-material-table
       _onRowSelected(data) {
         this.hay_fila_seleccionada = true;
         this.fila = data.detail;

         // Vamos a publicar en el bus de eventos el id de la cuenta seleccionada
         // para que el visor de movimientos pueda verla y lanzar sentencias
         // para ese id de cuenta.
         PubSub.subscribe('idcuenta');   // Primero hay que suscribirse para usarlo
         PubSub.publish('idcuenta',this.fila.id);
         // También publicaremos el balance de esa cuenta seleccionada
         // porque nos vendrá bien para el caso de que queramos crear
         // nuevos movimientos, así podremos actualizar saldo.
         PubSub.subscribe('IBAN');   // Primero hay que suscribirse para usarlo
         PubSub.publish('IBAN',this.fila.IBAN);

       }

       _onRowUnselected(data) {
         console.log('_onRowUnselected', data);
         this.hay_fila_seleccionada = false;
       }

      constructor() {
        super();
            // Relleno las cabeceras de la tabla
            this.columns = [{
                      title: "IBAN",
                      number: false,
                      column: 'IBAN',
                      hidden: false
                    }, {
                      title: "balance",
                      number: true,
                      column: 'balance',
                      formatter: function (value) {
                        return parseFloat(value).toFixed(2);
                      },
                      hidden: false
                    }
                   ];


      /*recojo del bus el módulo en el que estamos. De esta manera, al ver que
      hay cambio de módulo, se fuerza la ejecución de la consulta.
          Ver observer de la propiedad this.este_modulo*/
      let subscripter_modulo = PubSub.subscribe('modulo').on(value => this.este_modulo = value);
      /*recojo del bus la url base desde donde se invocará al API del back-end
      de la aplicación.*/
      let subscripter_baseURL = PubSub.subscribe('baseURL').on(value => this.baseURL = value);


     } // Fin del constructor



      _buscaCuentas(){
        console.log("Vamos a buscar Cuentas");

        // Primero limpiamos las propiedades
        this.hay_fila_seleccionada = false;
        this.fila = false;

        // Metemos en headers el id del usuario, para que al invocar el método
        // el servidor lo recupere de ahí
        this.$.doBusca.headers.id = this.id_user;

        /*recojo del bus el token JWT, que fue metido en authorization
           (lo metimos en cuanto nos lo devolvió el servidor tras hacer el
         login correcto del usuario)*/
        // Porque si no lo paso en la cabecera, la API me dirá que no estoy autorizado
        var token;
        let subscripter_token = PubSub.subscribe('authorization').on(value => token = value);
        this.$.doBusca.headers.authorization = token;

        // Para mandar esta petición, se hace con generateRequest
        this.$.doBusca.generateRequest();
        console.log("Petición enviada");
      }


      /* Hacemos la funcion manejadora del ajax */
      manageAJAXResponse(data){

        // Para sacar todas las cuentas
        this._accounts = data.detail.response;

      }

      showError(error) {
        console.log("Hubo un error");
        console.log(error);
        this._accounts="";
      }





    }   // Fin de la clase VisorCuentas



    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
