<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="registro-usuario">



  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Añadimos la librería de estilos BootstrapCDN, para darle aspecto molón
  Lo añadimos aquí para que sólo afecte al componente, no a lo que no es polymer-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <div class="row">
<!-- Vamos a añadir estilos de bootstrap a las cabeceras-->
    <h2 class="col-md-12"> Registro de usuario, introduce tus datos </h2>
   <form id="main">
    <div class="container" width="90%">
      <div class="form-group">
        <table>
         <tr>
           <td>
              <h6 class="col-md-7"> First name
                <input type="text" value="{{first_name::input}}" required/> </h6>
          </td>
          <td>
              <h6 class="col-md-7"> Last name
                <input type="text" value="{{last_name::input}}" required/> </h6>
          </td>
         </tr>
        </table>
      </div>
      <div class="form-group">
        <table>
         <tr>
           <td>
            <h6 class="col-md-9">  Email
                   <input type="email" value="{{email::input}}" required/>  </h6>
           </td>
           <td>
            <h6 class="col-md-7"> City
                <input type="text" value="{{city::input}}" required/> </h6>
            </td>
           </tr>
          </table>
      </div>
      <div class="form-group">
         <table>
          <tr>
            <td>
              <h6 class="col-md-7"> Password
                <input type="password" value="{{password::input}}" required/> </h6>
          </td>
          <td>
            <h6 class="col-md-7"> type Password again
              <input type="password" value="{{nuevapassword::input}}" required/> </h6>
          </td>
         </tr>
        </table>
      </div>
    </div>


        <h3 class="col-md-12"> ¿Crear usuario?</h3>
      <!-- CUIDADO, hay que enlazar el input con el valor de la propiedad con value.
       Debe hacerse con two ways, para que cualquier cambio se refleje en ambos
     -->
      <!--   CUIDADO, es on-click con guión, porque es de polymer, no es el onclick de HTML)
     -->
      <h5><button type="submit" class="btn btn-success" on-click="guardar"   > Guardar</button>
          <button class="btn btn-warning" on-click="cancelar"   > Salir sin guardar</button></h5>
   </form>
   <h4>
      <!--  Ponemos una propiedad de boostrap , oculto al principio donde
      pone si se ha hecho bien la actualización  -->
      <span hidden$="{{!registerOK}}"><strong>Usuario creado correctamente<strong></span>
      <!-- Otro texto oculto si las claves no coinciden en caso de haber
      querido cambiar la password-->
      <span hidden$="{{!errorcambiopassword}}">Deben coincidir la password y la confirmación</span>

      <!-- Etiqueta que sólo se mostrará si no se ha hecho registro ok,
       presentando el error que guardemos en esa variable  -->
      <span hidden$="{{registerOK}}">{{msgError}}</span>

      <!-- Incluimos el enlace para poder hacer login (sólo visible si todo ha ido bien)
      -->
      <button hidden$="{{!registerOK}}" class="btn btn-link"><a href="/viewlogin"> <strong>Conéctate <strong></a></button>
  </h4>
</div>




   <iron-ajax
    id = "doRegister"
    url = "[[baseURL]]/apiecs/v2/register"
    content-type = "application/json"
    method="POST"
    handle-as = "json"
    on-response = "manageAJAXResponse"
    on-error = "showError"
   ></iron-ajax>

  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistroUsuario extends Polymer.Element {
      static get is() { return 'registro-usuario'; }
      static get properties() {
        return {
          baseURL: {                // Para invocar al API
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          city: {
            type: String
          },
          id: {
            type: Number
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          registerOK: {
            type: Boolean,
            value: false
          },
          errorcambiopassword: {
            type: Boolean,
            value: false
          },
          nuevapassword: {
            type: String,
            value : ''
          },
          msgError: {
            type: String,
            value : ''
          }

        };
      }


      constructor() {
        super();

        /*recojo del bus la url base desde donde se invocará al API del back-end
        de la aplicación.*/
        let subscripter_baseURL = PubSub.subscribe('baseURL').on(value => this.baseURL = value);

      } // Fin del constructor


      // Salir sin guardar cambios
      cancelar(){

          console.log("No quiero registrarme");

          // Para ocultar texto de cambios, por si estaba visible de antes
          this.registerOK = false;
          this.errorcambiopassword = false;

          // Volvemos donde estábamos.
          history.back();

      }

      // Guardar las modificaciones
      guardar(){

        var passwordsCoinciden = false;


        // Para ocultar texto de cambios, por si estaba visible de antes
        this.registerOK = false;
        this.errorcambiopassword = false;

        // Así nos referimos a los elementos del formulario con esos id
        // (main, el propio formulario y email, el input donde se pone el email)
        var formulario  = this.$.main;

        if (formulario.checkValidity()) {
          // Sólo entraremos por aquí si todos los campos están bien validados.

          formulario.addEventListener("submit", function (event) {
              // Y prevenimos que el formulario sea enviado, cancelando el evento
              event.preventDefault();

            if (this.parentNode.parentNode.host.nuevapassword != this.parentNode.parentNode.host.password) {
                // Si la password y la nueva password son diferentes, error
                console.log("Las password nueva y la reescritura no coinciden");

                this.parentNode.parentNode.host.errorcambiopassword = true;


            } else {
                var changedData = {
                  "id" : this.parentNode.parentNode.host.id,
                  "first_name" : this.parentNode.parentNode.host.first_name,
                  "last_name" : this.parentNode.parentNode.host.last_name,
                  "city" : this.parentNode.parentNode.host.city,
                  "email" : this.parentNode.parentNode.host.email,
                  "password" : this.parentNode.parentNode.host.nuevapassword
                };
                // Tenemos que pasar estos datos al iron-ajax, eso se hace con $
                // y se invoca al identificador, el id de ese componente (doRegister)
                this.parentNode.parentNode.host.$.doRegister.body = JSON.stringify(changedData);
                // Para mandar esta petición, se hace con generateRequest
                this.parentNode.parentNode.host.$.doRegister.generateRequest();
                console.log("Petición de actualización con password enviada");

                }
          }, false);
        }
      }  // Fin del guardar

      /* Hacemos la funcion manejadora del ajax de update. Por aquí sólo pasa
      si no hay error (400 o 500), porque en ese caso se iría al on-error*/
      manageAJAXResponse(data){
        console.log("Recibida la respuesta del servidor");
        console.log(data.detail.response);

        console.log("Cambios guardados correctamente");

        this.registerOK = true;

      }

      // mostrar posible error en el update
      showError(error) {
        console.log("Hubo un error");
        console.log(error);
        console.log(error.detail.request.xhr.response);
        this.msgError = error.detail.request.xhr.response.msg;
      }


    }    // Fin de la clase RegistroUsuario

    window.customElements.define(RegistroUsuario.is, RegistroUsuario);
  </script>
</dom-module>
