<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="visor-usuario">



  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Añadimos la librería de estilos BootstrapCDN, para darle aspecto molón
  Lo añadimos aquí para que sólo afecte al componente, no a lo que no es polymer-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <div class="row">
<!-- Vamos a añadir estilos de bootstrap a las cabeceras-->
    <h2 class="col-md-12"> Perfil de usuario, puedes modificar tus datos </h2>
    <div class="container" width="90%">
      <div class="form-group">
        <table>
         <tr>
           <td>
              <h6 class="col-md-8"> First name
                <input type="text" value="{{first_name::input}}" /> </h6>
          </td>
          <td>
              <h6 class="col-md-8"> Last name
                <input type="text" value="{{last_name::input}}" /> </h6>
          </td>
         </tr>
        </table>
      </div>
      <div class="form-group">
        <table>
         <tr>
           <td>
              <h6 class="col-md-8"> y mi email es  [[email]]  </h6>
            </td>
            <td>
              <h6 class="col-md-8"> City
                  <input type="text" value="{{city::input}}" /> </h6>
            </td>
           </tr>
          </table>
      </div>
      <div class="form-group">
         <table>
          <tr>
            <td>
              <h6 class="col-md-8"> Password
                <input type="password" value="{{password::input}}" /> </h6>
          </td>
          <td>
            <h6 class="col-md-8"> retype new Password
              <input type="password" value="{{nuevapassword::input}}" /> </h6>
          </td>
         </tr>
        </table>
      </div>
    </div>
  </div>

    <button class="btn btn-link"><a href="/viewcuentas"><strong> Ver mis cuentas </strong></a></button>

        <h2 class="col-md-12"> ¿Guardar los cambios?</h2>
      <!-- CUIDADO, hay que enlazar el input con el valor de la propiedad con value.
       Debe hacerse con two ways, para que cualquier cambio se refleje en ambos
      <input type ="email" placeholder="email" value="{{email::input}}"></input>
      <input type ="password" placeholder="password" value="{{password::input}}"></input>
    -->
      <!--   CUIDADO, es on-click con guión, porque es de polymer, no es el onclick de HTML)
    -->
      <button class="btn btn-success" on-click="guardar"   > Guardar</button>
      <button class="btn btn-warning" on-click="cancelar"   > Salir sin guardar</button>

      <!--  Ponemos una propiedad de boostrap , oculto al principio donde
      pone si se ha hecho bien la actualización  -->
      <span hidden$="{{!updateOK}}">Cambios guardados correctamente</span>
      <!-- Otro texto oculto si las claves no coinciden en caso de haber
      querido cambiar la password-->
      <span hidden$="{{!errorcambiopassword}}">Deben coincidir la password y la confirmación</span>


    <!-- Vamos a llamar a que que se le pasa el id del usuario
    en el headers, porque con Openshift a veces da problemas las
    llamadas que tienen el código de usuario, cuenta, etc en medio de la url-->
    <iron-ajax
     id = "doUser"
     url = "[[baseURL]]/apiecs/v2/user"
     method="GET"
     content-type = 'application/json'
     handle-as = "json"
     on-response = "showData"
     on-error = "showError"
    ></iron-ajax>


   <iron-ajax
    id = "doUpdate"
    url = "[[baseURL]]/apiecs/v2/update_user"
    content-type = "application/json"
    method="PUT"
    handle-as = "json"
    on-response = "manageAJAXResponse"
    on-error = "showError"
   ></iron-ajax>

  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          baseURL: {                // Para invocar al API
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          id: {
            type: Number,
            observer: '_loadUser'    // En cuanto cambie, que vaya a buscar
                    // los datos del usuario
          },
          city: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          updateOK: {
            type: Boolean,
            value: false
          },
          errorcambiopassword: {
            type: Boolean,
            value: false
          },
          nuevapassword: {
            type: String,
            value : ''
          }

        };
      }

      constructor() {
        super();

        /*recojo del bus la url base desde donde se invocará al API del back-end
        de la aplicación.*/
        let subscripter_baseURL = PubSub.subscribe('baseURL').on(value => this.baseURL = value);

     } // Fin del constructor


      /* Hacemos la funcion manejadora del ajax de doUser */
      showData(data){
        // Vamos a intentar conseguir los datos que queremos para ponerlos en la página
        //Enlazamos la id del usuario
        this.id = data.detail.response[0].id;
        // Vamos a enlazar los datos obtenidos dentro de las propiedades del componente polymer
        this.first_name = data.detail.response[0].first_name;
        this.last_name = data.detail.response[0].last_name;
        this.city = data.detail.response[0].city;
        this.email = data.detail.response[0].email;
        this.password = data.detail.response[0].password;
        // En principio, por defecto, la ponemos igual a la que había
        this.nuevapassword = data.detail.response[0].password;

      }

      // This function is executed when this.id property changes. Es una
      // manera de "automatizar" la ejecución de la carga de usuario
      _loadUser(){

        // Cuidado, hay que hacerlo así, porque si se invoca con
        // this.$.doUser.headers = {...}, entonces no funciona
        this.$.doUser.headers.id = this.id;

        /*recojo del bus el token JWT, que fue metido en authorization
           (lo metimos en cuanto nos lo devolvió el servidor tras hacer el
         login correcto del usuario)*/
        // Porque si no lo paso en la cabecera, la API me dirá que no estoy autorizado
        var token;
        let subscripter_token = PubSub.subscribe('authorization').on(value => token = value);
        this.$.doUser.headers.authorization = token;

        this.$.doUser.generateRequest();

      }


      // Salir sin guardar cambios
      cancelar(){


          // Para ocultar texto de cambios, por si estaba visible de antes
          this.updateOK = false;
          this.errorcambiopassword = false;

          // Volvemos donde estábamos.
          history.back();

      }

      // Guardar las modificaciones
      guardar(){

          var passwordsCoinciden = false;


          // Para ocultar texto de cambios, por si estaba visible de antes
          this.updateOK = false;
          this.errorcambiopassword = false;


          if (this.nuevapassword != this.password) {
              // Si la password y la nueva password son diferentes, error
              console.log("Las password nueva y la reescritura no coinciden");

              this.errorcambiopassword = true;


          } else {
              var changedData = {
                "id" : this.id,
                "first_name" : this.first_name,
                "last_name" : this.last_name,
                "city" : this.city,
                "email" : this.email,
                "password" : this.nuevapassword
              };
              // Tenemos que pasar estos datos al iron-ajax, eso se hace con $
              // y se invoca al identificador, el id de ese componente (doUpdate)
              this.$.doUpdate.body = JSON.stringify(changedData);

              /*recojo del bus el token JWT, que fue metido en authorization
                 (lo metimos en cuanto nos lo devolvió el servidor tras hacer el
               login correcto del usuario)*/
              // Porque si no lo paso en la cabecera, la API me dirá que no estoy autorizado
              var token;
              let subscripter_token = PubSub.subscribe('authorization').on(value => token = value);
              this.$.doUpdate.headers.authorization = token;


              // Para mandar esta petición, se hace con generateRequest
              this.$.doUpdate.generateRequest();
              console.log("Petición de actualización con password enviada");

            }



      }  // Fin del guardar

      /* Hacemos la funcion manejadora del ajax de update. Por aquí sólo pasa
      si no hay error (400 o 500), porque en ese caso se iría al on-error*/
      manageAJAXResponse(data){

        console.log("Cambios guardados correctamente");

        this.updateOK = true;

        // Para mostrar la página de visor-usuario una vez conectado
        PubSub.subscribe('city');
        PubSub.publish('city',data.detail.response.city);

      }

      // mostrar posible error en el update
      showError(error) {
        console.log("Hubo un error");
        console.log(error);
        alert("Hubo un error:" + error.detail.error.message);
      }


    }    // Fin de la clase VisorUsuario

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
