<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="alta-transferencia">



  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Añadimos la librería de estilos BootstrapCDN, para darle aspecto molón
  Lo añadimos aquí para que sólo afecte al componente, no a lo que no es polymer-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<div class="row">
<!-- Vamos a añadir estilos de bootstrap a las cabeceras-->
    <h3 class="col-md-12"> Alta de transferencia en la cuenta con IBAN {{IBAN}}</h3>
    <form id="main">
      <div class="container" width="90%">
        <div class="form-group">
          <table>
           <tr>
             <td>
                <h6 class="col-md-8"> Cuenta destino
                  <input type="text" value="{{IBAN_destino::input}}" size="30" maxlength="29" required /> </h6>
             </td>
             <td>
                <h6 class="col-md-5"> Fecha
                  <input type="date" value="{{date::input}}" required /> </h6>
             </td>
           </tr>
           <tr>
             <td>
               <h6 class="col-md-8"> Descripción
                 <input type="text" value="{{description::input}}" size="30" required /> </h6>
            </td>
            <td>
                <h6 class="col-md-5"> Importe
                  <input type="number" step=0.01 value="{{amount::input}}" required /> </h6>
            </td>
          </tr>
        </table>
      </div>
      <div class="form-group">
        <table>
         <tr>
           <td>
              <h2 class="col-md-12"> ¿Ordenar transferencia?</h2>
          </td>
          <td>
            <button  class="btn btn-success" on-click="guardar"   > Hacer transferencia</button>
            <button class="btn btn-warning" on-click="cancelar"   > Salir sin guardar</button>
          </td>
        </tr>
       </table>
     </div>
   </div>
 </form>
</div>
      <!--  Ponemos una propiedad de boostrap , oculto al principio donde
      pone si se ha hecho bien la actualización  -->
      <span hidden$="{{!grabacionOK}}">
        <p class="text-warning"><strong>Transferencia generada correctamente</strong></p>
      </span>

      <!-- Etiqueta que sólo se mostrará si no se ha hecho registro ok,
       presentando el error que guardemos en esa variable  -->
      <span hidden$="{{grabacionOK}}">
        <p class="text-warning"><strong>{{msgError}}</strong></p>
      </span>

      <!-- Incluimos el enlace para poder ver las movimientos (sólo visible si todo ha ido bien)
      -->
      <button hidden$="{{!grabacionOK}}" class="btn btn-link"><a href="/viewmovimientos"> Ver todos los movimientos </a></button>

      <br>
        <button  class="btn btn-link"><a href="/viewcuentas"> Volver a ver mis cuentas </a></button>
      </br>


  </div>

  <!-- Para buscar la cuenta destino de la transferencia -->
  <iron-ajax
   id = "doAccount"
   url = "[[baseURL]]/apiecs/v2/account"
   method="GET"
   content-type = 'application/json'
   handle-as = "json"
   on-response = "manageAJAXResponseCuentaDestino"
   on-error = "showErrorCuentaDestino"
  ></iron-ajax>


  <!-- Para realizar la transferencia vamos a invocar dos veces
   a la creación de movimientos -->
   <iron-ajax
    id = "doAltaMovimientoOrigen"
    url = "[[baseURL]]/apiecs/v2/newmovement"
    content-type = "application/json"
    method="POST"
    handle-as = "json"
    on-response = "manageAJAXResponseOrigen"
    on-error = "showErrorOrigen"
   ></iron-ajax>

   <iron-ajax
    id = "doAltaMovimientoDestino"
    url = "[[baseURL]]/apiecs/v2/newmovement"
    content-type = "application/json"
    method="POST"
    handle-as = "json"
    on-response = "manageAJAXResponseDestino"
    on-error = "showErrorDestino"
   ></iron-ajax>

   <!-- Por si falla la creación del movimiento destino, para poder borrar
   el movimiento origen que acabábamos de crear.
      Se hace un PUT con el body vacío y en header se pasa el id que se quiere borrar
       Así es como se borra en MLab-->
   <iron-ajax
    id = "doDeleteOrigen"
    url = "[[baseURL]]/apiecs/v2/deletemovement"
    content-type = "application/json"
    method="PUT"
    handle-as = "json"
    on-response = "manageAJAXDeleteOrigen"
    on-error = "showErrorDeleteOrigen"
   ></iron-ajax>



  </template>


  <script>


    /**
     * @customElement
     * @polymer
     */
    class AltaTransferencia extends Polymer.Element {
      static get is() { return 'alta-transferencia'; }
      static get properties() {
        return {
          baseURL: {                // Para invocar al API
            type: String
          },
          este_modulo: {
            type: String,
            observer: '_borrarVariables'   //En cuanto cambie, que borre variables
                        // anteriores que pudieran estar rellenas
          },
          user_id: {
            type: Number
          },
          cuenta_id: {
            type: Number
          },
          IBAN: {          // Aquí pondremos el  IBAN de la cuenta origen
            type: String
          },
          IBAN_destino: {     // Aquí pondremos el  IBAN de la cuenta destino
            type: String
          },
          cuenta_id_destino: {
            type: Number
          },
          date: {
            type: Date
          },
          description: {
            type: String
          },
          amount:{
            type: Number,
            value:parseFloat(0.00)
          },
          grabacionOK: {
            type: Boolean,
            value: false
          },
          msgError: {
            type: String,
            value : ''
          },
          id_movimiento_origen: {     // Aquí guardamos el id del movimiento origen
            type: Number    // que se graba, pòr si falla el movimiento destino,
          }               // para poder borrar ese movimiento origen

        };
      }  // fin properties


      constructor() {
        super();

        /*recojo del bus el módulo en el que estamos. De esta manera, al ver que
        hay cambio de módulo, se fuerza la ejecución de la consulta.
            Ver observer de la propiedad this.este_modulo*/
        let subscripter_modulo = PubSub.subscribe('modulo').on(value => this.este_modulo = value);

        /*recojo del bus el IBAN de la cuenta seleccionada*/
        let subscripter_IBAN = PubSub.subscribe('IBAN').on(value => this.IBAN = value);

        /*recojo del bus la url base desde donde se invocará al API del back-end
        de la aplicación.*/
        let subscripter_baseURL = PubSub.subscribe('baseURL').on(value => this.baseURL = value);

     } // Fin del constructor


     // Para inicializar la ventana si habíamos entrado antes, para que
     // vacíe las variables
      _borrarVariables(){
        this.IBAN_destino="";
        this.cuenta_id_destino="";
        this.date="";
        this.description="";
        this.amount=parseFloat(0.00);
        this.grabacionOK= false;
        this.msgError="";
        this.id_movimiento_origen="";
      }

      // Salir sin guardar cambios
      cancelar(){

          console.log("No quiero grabar la transferencia");

          // Para ocultar texto de cambios, por si estaba visible de antes
          this.grabacionOK = false;

          // Volvemos donde estábamos.
          history.back();

      }

      // Guardar las modificaciones
      guardar(){



          console.log("Quiero guardar cambios " );

          // Para ocultar texto de cambios, por si estaba visible de antes
          this.grabacionOK = false;

          // Así nos referimos a los elementos del formulario con esos id
          // (main, el propio formulario y email, el input donde se pone el email)
          var formulario  = this.$.main;

          if (this.amount <=0) {
              alert ("El importe debe ser positivo")
          } else {

            if (formulario.checkValidity()) {
              // Sólo entraremos por aquí si todos los campos están bien validados.

              formulario.addEventListener("submit", function (event) {

                event.preventDefault();
                if (this.parentNode.parentNode.host.$.main.checkValidity()) {
                // Si no hay problemas de validación, haremos el alta

                    // Primero vamos a comprobar si existe la cuenta destino
                    // con el IBAN destino que puso el usuario.

                    //El nombre tiene que se en minúsculas, si no, da problemas
                    this.parentNode.parentNode.host.$.doAccount.headers.iban = this.parentNode.parentNode.host.IBAN_destino;
                    /*recojo del bus el token JWT, que fue metido en authorization
                       (lo metimos en cuanto nos lo devolvió el servidor tras hacer el
                     login correcto del usuario)*/
                    // Porque si no lo paso en la cabecera, la API me dirá que no estoy autorizado
                    var token;
                    let subscripter_token = PubSub.subscribe('authorization').on(value => token = value);
                    this.parentNode.parentNode.host.$.doAccount.headers.authorization = token;

                    // Para mandar esta petición, se hace con generateRequest
                    this.parentNode.parentNode.host.$.doAccount.generateRequest();
                    console.log("Petición de busqueda de cuenta destino enviada");
                    event.preventDefault();
                  } // fin de si no hay problemas de validación en el formulario

                  // Y prevenimos que el formulario sea enviado, cancelando el evento
                  event.preventDefault();

                }, false);
            }
          }

        }  // Fin del guardar

        /* Hacemos la funcion manejadora del ajax de busqueda cuenta destino. Por aquí sólo pasa
        si no hay error (400 o 500), porque en ese caso se iría al on-error*/
      manageAJAXResponseCuentaDestino(data){
            console.log("Recibida la cuenta destino del servidor");
            console.log(data.detail.response);

            // metemos el id de la cuenta destino en la propiedad de la clase
            this.cuenta_id_destino = data.detail.response[0].id;
            // Si llegamos aquí es poque hemos encontrado la cuenta destino,
            // así que podemos podemos proceder a hacer la transferencias


            // MOVIMIENTO DE SALIDA DE LA CUENTA ORIGEN

            // La fecha la convertimos a texto formato DD/MM/YYYY
            //var formattedDate = convertDate(this.date);
            // Convertimos la fecha a formato ISO, que es como acepta MongoDB,
            //pero pasando el json con {"$date": "2010-07-20T23:23:50Z"}
            //para que lo trate como Date

            var fecha = new Date(this.date);
            var formattedDate = fecha.toISOString() ;

            var transferData = {
              "account_id" : this.cuenta_id,
              "date" : {"$date": formattedDate},
              "amount" : parseFloat(-(this.amount)),     // En negativo porque el dinero sale
              "type" : "Transferencia realizada",
              "description" : this.description
            };
            // Tenemos que pasar estos datos al iron-ajax, eso se hace con $
            // y se invoca al identificador, el id de ese componente (doAltaMovimientoOrigen)
            this.$.doAltaMovimientoOrigen.body = JSON.stringify(transferData);

            /*recojo del bus el token JWT, que fue metido en authorization
               (lo metimos en cuanto nos lo devolvió el servidor tras hacer el
             login correcto del usuario)*/
            // Porque si no lo paso en la cabecera, la API me dirá que no estoy autorizado
            var token;
            let subscripter_token = PubSub.subscribe('authorization').on(value => token = value);
            this.$.doAltaMovimientoOrigen.headers.authorization = token;

            // Para mandar esta petición, se hace con generateRequest
            this.$.doAltaMovimientoOrigen.generateRequest();
            console.log("Petición de creación de movimiento origen enviada");

      }     // Fin de manageAJAXResponseCuentaDestino



      // mostrar posible error en la recuperación de la cuenta destino
    showErrorCuentaDestino(error) {
        console.log("Hubo un error al recuperar la cuenta destino");
        console.log(error);
        console.log(error.detail.request.xhr.response);
        this.msgError = error.detail.request.xhr.response.msg;
    }



    /* Hacemos la funcion manejadora del ajax de movimiento destino. Por aquí sólo pasa
    si no hay error (400 o 500), porque en ese caso se iría al on-error*/
    manageAJAXResponseOrigen(data){
      console.log("Movimiento origen grabado correctamente");


      // Como se ha grabado bien el movimiento origen, entonces pasamos a grabar el
      // movimiento destino

      // Me guardo el id del movimiento origen que se acaba de crear, por si fallase
      // el movimiento destino, para poder borrar el movimiento origen que acabo de crear

      this.id_movimiento_origen = data.detail.response.id;

      // MOVIMIENTO DE ENTRADA EN  LA CUENTA DESTINO

      // La fecha la convertimos a texto formato DD/MM/YYYY
      //var formattedDate = convertDate(this.date);
      // Convertimos la fecha a formato ISO, que es como acepta MongoDB,
      //pero pasando el json con {"$date": "2010-07-20T23:23:50Z"}
      //para que lo trate como Date

      var fecha = new Date(this.date);
      var formattedDate = fecha.toISOString() ;

      var transferData = {
        "account_id" : this.cuenta_id_destino,
        "date" : {"$date": formattedDate},
        "amount" : parseFloat(this.amount),     // En positivo porque el dinero entra
        "type" : "Transferencia recibida",
        "description" : this.description + " procedente de " + this.IBAN
      };
      // Tenemos que pasar estos datos al iron-ajax, eso se hace con $
      // y se invoca al identificador, el id de ese componente (doAltaMovimientoDestino)
      this.$.doAltaMovimientoDestino.body = JSON.stringify(transferData);

      /*recojo del bus el token JWT, que fue metido en authorization
         (lo metimos en cuanto nos lo devolvió el servidor tras hacer el
       login correcto del usuario)*/
      // Porque si no lo paso en la cabecera, la API me dirá que no estoy autorizado
      var token;
      let subscripter_token = PubSub.subscribe('authorization').on(value => token = value);
      this.$.doAltaMovimientoDestino.headers.authorization = token;

      // Para mandar esta petición, se hace con generateRequest
      this.$.doAltaMovimientoDestino.generateRequest();
      console.log("Petición de creación de movimiento destino enviada");


    }

    // mostrar posible error en el movimiento origen
    showErrorOrigen(error) {
      console.log("Hubo un error");
      console.log(error);
      console.log(error.detail.request.xhr.response);
      this.msgError = error.detail.request.xhr.response.msg;
    }



      /* Hacemos la funcion manejadora del ajax de movimiento destino. Por aquí sólo pasa
      si no hay error (400 o 500), porque en ese caso se iría al on-error*/
    manageAJAXResponseDestino(data){
        console.log("Recibida la respuesta del servidor");
        console.log(data.detail.response);

        console.log("Movimiento destino grabado correctamente");

        this.grabacionOK = true;

      }

      // mostrar posible error en el movimiento Destino
    showErrorDestino(error) {
        console.log("Hubo un error");
        console.log(error);
        console.log(error.detail.request.xhr.response);

        this.msgError = error.detail.request.xhr.response.msg;

          // Como hubo error en el movimiento destino (que sólo se había lanzado si
        // funcionó el movimiento origen), entonces tendremos que borrar el movimiento origen
        //Sólo se manda el headers, para después meterlo en la query. El body vacío. Así se borra
        // TAmbién psamos el id_cuenta origen, y el importe, para actualizar
        // el balance.
        this.$.doDeleteOrigen.headers.id = this.id_movimiento_origen;
        this.$.doDeleteOrigen.headers.cuenta_id = this.cuenta_id;
        this.$.doDeleteOrigen.headers.amount = parseFloat(this.amount);

        /*recojo del bus el token JWT, que fue metido en authorization
           (lo metimos en cuanto nos lo devolvió el servidor tras hacer el
         login correcto del usuario)*/
        // Porque si no lo paso en la cabecera, la API me dirá que no estoy autorizado
        var token;
        let subscripter_token = PubSub.subscribe('authorization').on(value => token = value);
        this.$.doDeleteOrigen.headers.authorization = token;

        // Para mandar esta petición, se hace con generateRequest
        this.$.doDeleteOrigen.generateRequest();
        console.log("Petición de borrado de movimiento de cuenta origen enviada");

      }

      /* Hacemos la funcion manejadora del ajax de movimiento destino. Por aquí sólo pasa
      si no hay error (400 o 500), porque en ese caso se iría al on-error*/
    manageAJAXDeleteOrigen(data){
        console.log("Recibida la respuesta del servidor");
        console.log(data.detail.response);

        console.log("Movimiento origen borrado correctamente");

      }

      // mostrar posible error en el movimiento Destino
    showErrorDeleteOrigen(error) {
        console.log("Hubo un error al borrar movimiento origen");
        console.log(error);
        console.log(error.detail.request.xhr.response);

      }

    }    // Fin de la clase AltaTransferencia


    window.customElements.define(AltaTransferencia.is, AltaTransferencia);
  </script>
</dom-module>
