<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- PAra que funcione el on-tap  , gestual para móviles -->
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<!-- Importo los componentes que van a estar dentro de este gestor -->
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">


<dom-module id="gestor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <h1> Soy el gestor </h1>

   <!--Vamos a enlazar los otros componenetes dentro de este orquestador
   y tratamos el posible evento que suelte el emisor tiene que tener el mismo
 sufijo, es decir, el evento de emisor-evento se llama myevent, entonces
el tratamiento del evento debe hacerse con on-myevent-->
   <emisor-evento on-myevent="processEvent"> </emisor-evento>
   <receptor-evento id="receiver"> </receptor-evento>   <!-- es necesario darle
     un id al receptor-evento, para poder acceder a su función showData -->
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
    /* Para que funcione el on-tap, debe extender de otra clase, no se hace así:
    class GestorEvento extends Polymer.Element {
    se hace así */
   class GestorEvento extends Polymer.GestureEventListeners(Polymer.Element) {

     static get is() { return 'gestor-evento'; }
     static get properties() {
       return {
         
       };
     }

     // MAnejador del evento que pueda lanzar emisor-evento
     processEvent(e){
       console.log("Capturado el evento del emisor");
       console.log(e);
       // accedemos al shadow DOM del componente polymer. Le pasamos el
       // detail, donde habíamos definido el curso y el año
       /* Esto NO ES RECOMENDABLE, no es recomendable acceder a un método del
       componenete polymer. Lo mejor sería acceder a las propiedades, como
       vamos a hacer más tarde*/
  //     this.$.receiver.showData(e.detail);

       // Lo mejor es acceder a las propiedades del componente receptor
       this.$.receiver.course = e.detail.course;
       this.$.receiver.year = e.detail.year;

     }  // Fin de processEvent

   }

   window.customElements.define(GestorEvento.is, GestorEvento);
 </script>
</dom-module>
