<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Añadimos la librería de estilos BootstrapCDN, para darle aspecto molón
  Lo añadimos aquí para que sólo afecte al componente, no a lo que no es polymer-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <div class="row">
    <h2 class="col-md-12"> Logout</h2>

<!-- Vamos a añadir estilos de bootstrap a las cabeceras-->
    <h3 class="col-md-12"> ¿Realmente desea salir?</h3>
  </div>
  <!-- CUIDADO, hay que enlazar el input con el valor de la propiedad con value.
   Debe hacerse con two ways, para que cualquier cambio se refleje en ambos
  <input type ="email" placeholder="email" value="{{email::input}}"></input>
  <input type ="password" placeholder="password" value="{{password::input}}"></input>
-->
  <!--   CUIDADO, es on-click con guión, porque es de polymer, no es el onclick de HTML)
-->
  <button class="btn btn-success" on-click="continuar"   > Cancelar</button>
  <button class="btn btn-warning" on-click="logout"   > Salir</button>

   <!--  Ponemos una propiedad de boostrap , oculto al principio donde pone si estás  conectado
  <span hidden$="{{estoy_conectado}}">Estoy desconectado</span>
-->

<!-- Quitamos la parte de auto del iron-ajax porque no queremos que se ejecute
automáticamente, sólo al pulsar botón logout  (en el evento on-click del boton logout
CUIDADO, es on-click con guión, porque es de polymer, no es el onclick de HTML)
además le decimos el como es el mime type del contenido, con content type
    Para decir que es un  put, hay que indicarlo
  Y también es conveniente tratar el error con on-error   -->
   <iron-ajax
    id = "doLogout"
    url = "[[baseURL]]/apiecs/v2/logout"
    content-type = "application/json"
    method="PUT"
    handle-as = "json"
    on-response = "manageAJAXResponse"
    on-error = "showError"
   ></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {

      static get is() { return 'logout-usuario'; }

      static get properties() {
        return {
          baseURL: {                // Para invocar al API
            type: String
          },
          id_usuario: {
            type: Number
          },
          estoy_conectado: {
            type: Boolean
          }
        };
      }

      constructor() {
        super();

        /*recojo del bus la url base desde donde se invocará al API del back-end
        de la aplicación.*/
        let subscripter_baseURL = PubSub.subscribe('baseURL').on(value => this.baseURL = value);

      } // Fin del constructor

      continuar(){
          console.log("Quiero continuar en la sesión");

          let subscripter_user = PubSub.subscribe('usuario').on(value => this.id_usuario = value);
          let subscripter_conectado = PubSub.subscribe('conectado').on(value => this.estoy_conectado = value);

          console.log(this.id_usuario + " " + this.estoy_conectado);

          // Volvemos donde estábamos.
          history.back();

      }

      logout(){

        console.log("El usuario ha hecho cliqui en el botón de logout");

        // Todo lo que venga por el canal usuario que lo lea
        // y lo meta en la variable id_usuario

        let subscripter_user = PubSub.subscribe('usuario').on(value => this.id_usuario = value);
        let subscripter_conectado = PubSub.subscribe('conectado').on(value => this.estoy_conectado = value);


        var logoutData = {
          "id" :  this.id_usuario
        };
        // Tenemos que pasar estos datos al iron-ajax, eso se hace con $
        // y se invoca al identificador, el id de ese componente (doLogout)
        this.$.doLogout.body = JSON.stringify(logoutData);

        /*recojo del bus el token JWT, que fue metido en authorization
           (lo metimos en cuanto nos lo devolvió el servidor tras hacer el
         login correcto del usuario)*/
        // Porque si no lo paso en la cabecera, la API me dirá que no estoy autorizado
        var token;
        let subscripter_token = PubSub.subscribe('authorization').on(value => token = value);
        this.$.doLogout.headers.authorization = token;

        // Para mandar esta petición, se hace con generateRequest
        this.$.doLogout.generateRequest();
        console.log("Petición enviada");

        // Vamos a la pagina principal, una vez desconectado
        window.location= "." ;

      }

      /* Hacemos la funcion manejadora del ajax . Por aquí sólo pasa
      si no hay error (400 o 500), porque en ese caso se iría al on-error*/
      manageAJAXResponse(data){
        console.log("Recibida la respuesta del servidor");
        console.log(data.detail.response);
        this.estoy_conectado = true;

        //Si nos hemos desconectado, se quita el id del usuario en el bus
        // y se pone conectado a falso.
        // así, el resto de componentes "sabrán" que no hay usuario conectado
         PubSub.subscribe('usuario');   // Primero hay que suscribirse para usarlo
         PubSub.publish('usuario',"");
         PubSub.subscribe('conectado');   // Primero hay que suscribirse para usarlo
         PubSub.publish('conectado',false);


      }

      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }
    } // fin de la clase LogoutUsuario

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
