<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="alta-movimiento">



  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Añadimos la librería de estilos BootstrapCDN, para darle aspecto molón
  Lo añadimos aquí para que sólo afecte al componente, no a lo que no es polymer-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <div class="row">
    <!-- Vamos a añadir estilos de bootstrap a las cabeceras-->
      <h1 class="col-md-12"> Alta de movimiento [[IBAN]]</h1>
        <div class="container" width="100%">
          <div class="form-group">
            <table>
             <tr>
               <td>
                  <h6 class="col-md-6"> Fecha
                    <input type="date" value="{{date::input}}" required/> </h6>
               </td>
               <td>
                  <h6 class="col-md-5"> Importe
                    <input type="number" step=0.01 value="{{amount::input}}" required/> </h6>
              </td>
            </tr>
            <tr>
              <td>
                    <h6 class="col-md-6"> Tipo
                      <select id="tipo" class="type" value="{{type::input}}"
                          title="Elija uno de los siguientes..." required>
                        <optgroup label="ABONOS">

                          <option>Abono nómina</option>
                          <option>Ingreso Efectivo</option>
                          <option>Transferencia recibida</option>
                          <option>Devolución compra</option>
                          <option>Abono dividendos</option>
                          <option>Abono intereses</option>
                          <option>Otros abonos</option>
                        </optgroup>
                        <optgroup label="CARGOS">
                          <option>Pago tarjeta</option>
                          <option>Transferencia realizada</option>
                          <option>Pago tributos</option>
                          <option>Cargo domiciliación</option>
                          <option>Disposición de efectivo</option>
                          <option>Otros cargos</option>
                        </optgroup>
                      </select>
                    </h6>
              </td>
              <td>
                    <h6 class="col-md-8"> Descripción
                      <input type="text" value="{{description::input}}" required/> </h6>
              </td>
            </tr>
          </table>
        </div>
        <div class="form-group">
          <table>
           <tr>
             <td>
                      <h2 class="col-md-8"> ¿Crear movimiento?</h2>
            </td>
            <td>
                    <button class="btn btn-success" on-click="guardar"   > Guardar</button>
                    <button class="btn btn-warning" on-click="cancelar"   > Salir sin guardar</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
        <!--  Ponemos una propiedad de boostrap , oculto al principio donde
      pone si se ha hecho bien la actualización  -->
      <span hidden$="{{!grabacionOK}}">
        <p class="text-warning"><strong>Movimiento creado correctamente</strong></p>
      </span>

      <!-- Etiqueta que sólo se mostrará si no se ha hecho registro ok,
       presentando el error que guardemos en esa variable  -->
      <span hidden$="{{grabacionOK}}"><p class="text-warning"><strong>{{msgError}}</p>
      </span>

      <!-- Incluimos el enlace para poder ver las movimientos (sólo visible si todo ha ido bien)
      -->
      <button hidden$="{{!grabacionOK}}" class="btn btn-link"><a href="/viewmovimientos"> Ver todos los movimientos </a></button>

        <button  class="btn btn-link"><a href="/viewcuentas"> Volver a ver mis cuentas </a></button>





   <iron-ajax
    id = "doAltaMovimiento"
    url = "[[baseURL]]/apiecs/v2/newmovement"
    content-type = "application/json"
    method="POST"
    handle-as = "json"
    on-response = "manageAJAXResponse"
    on-error = "showError"
   ></iron-ajax>

  </template>


  <script>


    /**
     * @customElement
     * @polymer
     */
    class AltaMovimiento extends Polymer.Element {
      static get is() { return 'alta-movimiento'; }
      static get properties() {
        return {
          baseURL: {                // Para invocar al API
            type: String
          },
          este_modulo: {
            type: String,
            observer: '_borrarVariables'   //En cuanto cambie, que borre variables
                        // anteriores que pudieran estar rellenas
          },
          user_id: {
            type: Number
          },
          cuenta_id: {
            type: Number
          },
          date: {
            type: Date
          },
          amount: {
            type: Number,
            value:parseFloat(0.00)
          },
          type: {
            type: String
          },
          description: {
            type: String
          },
          grabacionOK: {
            type: Boolean,
            value: false
          },
          msgError: {
            type: String,
            value : ''
          },
          IBAN: {          // Aquí pondremos el  IBAN de la cuenta
            type: String    // donde se quiere hacer el movimiento
          }                 // lo recogemos de la variable "publicada" en el bus de eventos

        };
      }  // fin properties


      constructor() {
        super();

        /*recojo del bus el módulo en el que estamos. De esta manera, al ver que
        hay cambio de módulo, se fuerza la ejecución de la consulta.
            Ver observer de la propiedad this.este_modulo*/
        let subscripter_modulo = PubSub.subscribe('modulo').on(value => this.este_modulo = value);

        /*recojo del bus el IBAN de la cuenta seleccionada*/
        let subscripter_IBAN = PubSub.subscribe('IBAN').on(value => this.IBAN = value);

        /*recojo del bus la url base desde donde se invocará al API del back-end
        de la aplicación.*/
        let subscripter_baseURL = PubSub.subscribe('baseURL').on(value => this.baseURL = value);


     } // Fin del constructor


     // Para inicializar la ventana si habíamos entrado antes, para que
     // vacíe las variables
      _borrarVariables(){
          this.date="";
          this.amount=parseFloat(0.00);
          this.type ="";
          this.description="";
          this.grabacionOK=false;
          this.msgError="";
          this.IBAN="";
      }




      // Salir sin guardar cambios
      cancelar(){

          console.log("No quiero grabar nuevo movimiento");

          // Para ocultar texto de cambios, por si estaba visible de antes
          this.grabacionOK = false;

          // Volvemos donde estábamos.
          history.back();

      }

      // Guardar las modificaciones
      guardar(){



          console.log("Quiero guardar cambios " );

          // Para ocultar texto de cambios, por si estaba visible de antes
          this.grabacionOK = false;


              if (( (this.$.tipo.selectedIndex >6) &&
                   (this.amount > 0 )
                  ) ||
                  ( (this.$.tipo.selectedIndex <7) &&
                    (this.amount < 0 )
                  )
                ) {
                  alert ("Un Abono debe tener importe positivo. Un Cargo debe tener importe negativo ");
                } else {
                  if ((this.$.tipo.selectedIndex ==-1) ||
                        (this.date=="") ||
                        (this.description="")
                  ){
                    alert ("Por favor, rellene todos los campos");
                  }else{
                      // La fecha la convertimos a texto formato DD/MM/YYYY
                      //var formattedDate = convertDate(this.date);
                      // Convertimos la fecha a formato ISO, que es como acepta MongoDB,
                      //pero pasando el json con {"$date": "2010-07-20T23:23:50Z"}
                      //para que lo trate como Date

                      var fecha = new Date(this.date);
                      var formattedDate = fecha.toISOString() ;

                      var changedData = {
                        "account_id" : this.cuenta_id,
                        "date" : {"$date": formattedDate},
                        "amount" : parseFloat(this.amount),
                        "type" : this.type,
                        "description" : this.description
                      };
                      // Tenemos que pasar estos datos al iron-ajax, eso se hace con $
                      // y se invoca al identificador, el id de ese componente (doAltaMovimiento)
                      this.$.doAltaMovimiento.body = JSON.stringify(changedData);
                      /*recojo del bus el token JWT, que fue metido en authorization
                         (lo metimos en cuanto nos lo devolvió el servidor tras hacer el
                       login correcto del usuario)*/
                      // Porque si no lo paso en la cabecera, la API me dirá que no estoy autorizado
                      var token;
                      let subscripter_token = PubSub.subscribe('authorization').on(value => token = value);
                      this.$.doAltaMovimiento.headers.authorization = token;


                      // Para mandar esta petición, se hace con generateRequest
                      this.$.doAltaMovimiento.generateRequest();
                      console.log("Petición de creación de movimiento enviada");
                  }
                }



  }  // Fin del guardar

      /* Hacemos la funcion manejadora del ajax de update. Por aquí sólo pasa
      si no hay error (400 o 500), porque en ese caso se iría al on-error*/
      manageAJAXResponse(data){
        console.log("Recibida la respuesta del servidor");
        console.log(data.detail.response);

        console.log("Cambios guardados correctamente");

        this.grabacionOK = true;

      }

      // mostrar posible error en el update
      showError(error) {
        console.log("Hubo un error");
        console.log(error);
        console.log(error.detail.request.xhr.response);
        this.msgError = error.detail.request.xhr.response.msg;
      }


    }    // Fin de la clase RegistroUsuario


    window.customElements.define(AltaMovimiento.is, AltaMovimiento);
  </script>
</dom-module>
