<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!--  ECS  -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="../bower_components/mp-slider/mp-slider.html">
<link rel="import" href="../bower_components/paper-weather/paper-weather.html">

<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view404.html">
<link rel="lazy-import" href="my-viewempty.html">
<link rel="lazy-import" href="my-viewlogin.html">
<link rel="lazy-import" href="my-viewlogout.html">
<link rel="lazy-import" href="my-viewaltausuario.html">
<link rel="lazy-import" href="my-viewperfil.html">
<link rel="lazy-import" href="my-viewcuentas.html">
<link rel="lazy-import" href="my-viewaltacuenta.html">
<link rel="lazy-import" href="my-viewmovimientos.html">
<link rel="lazy-import" href="my-viewaltamovimiento.html">
<link rel="lazy-import" href="my-viewtransferencia.html">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<dom-module id="my-app">

<!--  ECS  -->




  <template>

    <style>
      a {
        text-decoration: none;
        font-size: inherit;
        color: inherit;
        font-family: 'Comic Sans MS', 'Comic', sans-serif;
        line-height: 1.5;
      }
      .toolbar {
        @apply --layout-horizontal;
        @apply --layout-end-justified;
        background-color: rgba(200, 200, 255, 0.5);
      }
      .tabs {
        height: 100%;
        @apply --layout-horizontal;
      }
      .tabs > a {
        @apply --layout-vertical;
        @apply --layout-center-center;
        margin: 12px 16px 12px;
        border-bottom: 1px solid #222;
      }
      header {
        @apply --layout-vertical;
        @apply --layout-center-center;
        height: calc(30vh - 64px);
        padding: 0 16px;
        color: blue;
        text-align: center;
        font-family: "Courier", sans-serif;
        animation: mymove 5s infinite;
      }
      header > h2 {
        font-size: 24px;
        font-weight: 200;
        margin: 0;
      }
      header > p {
        font-size: 20px;
      }
      section {
        padding: 88px 16px;
      }
      .container {
        @apply --layout-horizontal;
        max-width: 800px;
        margin: 0 auto;
      }
      .container > * {
        @apply --layout-flex;
      }
      .container img {
        max-width: 100%;
        max-height: 100%;
      }
      .container h3 {
        font-size: 14px;
        font-weight: 300;
        margin: 14px 0;
      }
      .container p {
        line-height: 1.5;
      }
      @media (max-width: 600px) {
        .container {
          @apply --layout-vertical;
        }
      }
      @keyframes mymove {
        from {color: cyan;}
        to {color: blue;}
      }

      .card {
              max-width: 1100px;
              margin: 40px auto;
              padding: 20px 20px 50px;
              color: #757575;
              border-radius: 5px;
              position: relative;
              background-color: #fff;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
              box-sizing: border-box;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>


    <app-header-layout>

      <app-header reveals effects="waterfall" slot="header">

        <app-toolbar class="toolbar">
          <header >
            <h2>Welcome to The Count Accounts</h2>    An easy way to view your accounts
          </header>

            <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
<!--
<div class="container-fluid">

-->
  <div class="tabs">
                    <a name="view1" href="[[rootPath]]view1">About</a>
                    <a name="view2" href="[[rootPath]]view2">El tiempo</a>
                    <span hidden$="{{!isLogged}}"><a name="viewcuentas" href="[[rootPath]]viewcuentas">
                      <img data-toggle="tooltip" data-placement="bottom" title="Mis Cuentas" alt="Mis Cuentas" src="../images/miscuentas.gif" width="50px"></a> </span>
                    <span hidden$="{{isLogged}}"><a name="viewlogin" href="[[rootPath]]viewlogin"><font face="verdana" color="green">Login</a></span>
                    &nbsp; &nbsp;   <!-- un par de espacios -->
                    <span hidden$="{{isLogged}}"><a name="viewaltausuario" href="[[rootPath]]viewaltausuario"><font face="verdana" color="blue">Regístrate</a></span>
                    <span hidden$="{{!isLogged}}"><a name="viewlogout" href="[[rootPath]]viewlogout"><font face="verdana" color="orangered">Logout</a></span>
                    <span hidden$="{{!isLogged}}"><a name="viewperfil" href="[[rootPath]]viewperfil">
                      <img data-toggle="tooltip" data-placement="bottom" title="Mi perfil" alt="Mi perfil" src="../images/Count_Accounts.gif" width="40px"></a></span>

              </div>
            </iron-selector>

        </app-toolbar>

      </app-header>


        <!-- Main content -->
        <app-header-layout has-scrolling-region>

          <iron-pages
              selected="[[page]]"
              attr-for-selected="name"
              fallback-selection="view404"
              role="main">
            <my-view1 name="view1"></my-view1>
            <my-view2 name="view2"></my-view2>
            <my-view3 name="view3"></my-view3>
            <my-view404 name="view404"></my-view404>
            <my-viewempty name="viewempty"></my-viewempty>
            <my-viewlogin name="viewlogin"></my-viewlogin>
            <my-viewlogout name="viewlogout"></my-viewlogout>
            <my-viewaltausuario name="viewaltausuario"></my-viewaltausuario>
            <my-viewperfil name="viewperfil"></my-viewperfil>
            <my-viewcuentas name="viewcuentas"></my-viewcuentas>
            <my-viewaltacuenta name="viewaltacuenta"></my-viewaltacuenta>
            <my-viewmovimientos name="viewmovimientos"></my-viewmovimientos>
            <my-viewaltamovimiento name="viewaltamovimiento"></my-viewaltamovimiento>
            <my-viewtransferencia name="viewtransferencia"></my-viewtransferencia>
          </iron-pages>

<!--  ECS  -->



        <!-- Carrusel con imágenes -->
        <div class="card">
          <mp-slider  bullets show-thumbs auto-play>
              <div>
                  <img src="../images/Carrusel_1.jpg" />
              </div>

              <div>
                  <img src="../images/Carrusel_2.jpg" />

              </div>

              <div>
                  <img src="../images/Carrusel_3.jpg" />

              </div>
          </mp-slider>
        </div>

    </app-header-layout>

  </template>


<!--
  <script>
    Polymer({
      is: 'my-app'
    });
  </script>
-->
  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);


    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          isLogged: {
          type: Boolean,
          value: false
          },
          id_usuario: {
            type : Number
          }


        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {

        this.page = page || 'viewempty';
        // If no page was found in the route data, page will be an empty string.
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');

        // Utilizamos la variable modulo para publicarla en el bus
        // y así podremos ver cuándo cambia, para forzar ejecuciones
        // en la base de datos
        PubSub.subscribe('modulo');   // Primero hay que suscribirse para usarlo
        PubSub.publish('modulo',page);

        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }

      // Vamos a crear un constructor que recibirá el mensaje
      constructor(){
        super();
        // Todo lo que venga por el canal usuario que lo lea
        // y lo meta en la variable para ocultar_login y mostrar_perfil
        let subscripter_user = PubSub.subscribe('usuario').on(value => this.id_usuario = value);
        let subscripter_logged = PubSub.subscribe('conectado').on(value => this.isLogged = value);

        //Vamos a guardar en el bus de eventos la url base de la aplicación
        // Si es en local, la url base será http://localhost:3000/
        // si está en un docker en Openshift será otra, que tendremos que ponerla en config.js
        var baseURL = damerutaAPIback();
        PubSub.subscribe('baseURL');   // Primero hay que suscribirse para usarlo
        PubSub.publish('baseURL',baseURL);

console.log("baseURL");
console.log(baseURL);

      }

    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
