<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">


<link rel="import" href="./visor-movimientos/visor-movimientos.html">
<dom-module id="my-viewmovimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>



  <div class="card">
      <div class="container">

        <visor-movimientos id_user="{{codigo_usuario}}"
                          id_cuenta={{codigo_cuenta}}></visor-movimientos>


    </div>
  </div>

</template>

  <script>
    class MyViewMovimientos extends Polymer.Element {
      static get is() { return 'my-viewmovimientos'; }

      static get properties() {
        return {
          codigo_usuario: {
            type: Number
          },
          codigo_cuenta: {
            type: Number
          }

        };
      }

      // Vamos a meter un constructor para poder recoger lo que hay en
      // el bus de eventos, el id del usuario conectado y el id de la cuenta,
      //  para poder pasarlo al custom component visor-movimientos
       constructor() {
         super();
         console.log("my-viewmovimientos.html va a buscar al bus el usuario conectado y la cuenta");

         let subscripter_user = PubSub.subscribe('usuario').on(value => this.codigo_usuario = value);
     console.log("el codigo_usuario es " + this.codigo_usuario);
         let subscripter_cuenta = PubSub.subscribe('idcuenta').on(value => this.codigo_cuenta = value);
     console.log("el codigo_cuenta es " + this.codigo_cuenta);

      } // Fin del constructor

    }



    window.customElements.define(MyViewMovimientos.is, MyViewMovimientos);
  </script>
</dom-module>
