<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">


<link rel="import" href="./visor-usuario/visor-usuario.html">

<dom-module id="my-viewperfil">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>



  <div class="card">
      <div class="container">
        <!-- Invocamos al componente custom  con el usuario conectado-->
        <visor-usuario id="{{codigo_usuario}}"></visor-usuario>
    </div>
  </div>

</template>

  <script>
    class MyViewPerfil extends Polymer.Element {
      static get is() { return 'my-viewperfil'; }

      static get properties() {
        return {
          codigo_usuario: {
            type: Number
          }
        };
      }

      // Vamos a meter un constructor para poder recoger lo que hay en
      // el bus de eventos, el id del usuario conectado, para poder pasarlo
      // al custom component visor-usuario
       constructor() {
         super();
         console.log("my-viewperfil.html va a buscar al bus el usuario conectado ");

         let subscripter_user = PubSub.subscribe('usuario').on(value => this.codigo_usuario = value);
     console.log("el codigo_usuario es " + this.codigo_usuario);

      }

    }

    window.customElements.define(MyViewPerfil.is, MyViewPerfil);
  </script>
</dom-module>
