<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">


<link rel="import" href="./logout-usuario/logout-usuario.html">

<dom-module id="my-viewlogout">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>



  <div class="card">
      <div class="container">
        <!-- Invocamos al componente custom  -->
        <logout-usuario></logout-usuario>
    </div>
  </div>

</template>

  <script>
    class MyViewLogout extends Polymer.Element {
      static get is() { return 'my-viewlogout'; }
    }

    window.customElements.define(MyViewLogout.is, MyViewLogout);
  </script>
</dom-module>
