<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">


<link rel="import" href="./visor-cuentas/visor-cuentas.html">
<!-- añadimos el componente con el catálogo -->
<!--
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">
-->
<dom-module id="my-viewcuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>



  <div class="card">
      <div class="container">
        <visor-cuentas id_user="{{codigo_usuario}}"></visor-cuentas>
      </div>
  </div>

</template>

  <script>
    class MyViewCuentas extends Polymer.Element {
      static get is() { return 'my-viewcuentas'; }

      static get properties() {
        return {
          codigo_usuario: {
            type: Number
          }

        };
      }

      // Vamos a meter un constructor para poder recoger lo que hay en
      // el bus de eventos, el id del usuario conectado, para poder pasarlo
      // al custom component visor-cuentas
       constructor() {
         super();
         console.log("my-viewcuentas.html va a buscar al bus el usuario conectado ");

         let subscripter_user = PubSub.subscribe('usuario').on(value => this.codigo_usuario = value);
     console.log("el codigo_usuario es " + this.codigo_usuario);

      } // Fin del constructor

    }



    window.customElements.define(MyViewCuentas.is, MyViewCuentas);
  </script>
</dom-module>
