<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>About  The Count Accounts</h1>
      <section id="about">
        <div class="container">
          <div>
            <p>El desarrolo de esta aplicación de ensayo se engloba dentro del curso Practitioner de la Tech University de BBVA.</p>
            <p>En ningún caso pretende ser una aplicación que pueda subirse a producción, sino que se trata de un ejercicio de comprensión
              de las materias tratadas en la parte teórica del curso. </p>
            <p> A continuación se deja el enlace para acceder al manual de usuario de la aplicación. </p>
            <p></p>
            <p></p>
            <a href="../Manualdeusuario.html" target="_blank">Manual de usuario</a>
            <p></p>
            <p></p>

            <p> Espero que la aplicación sea de su agrado.</p>
            <p> Un saludo.</p>
            <p> Eusebio Chaves Solana. </p>

         </div>

        </div>
      </section>
    </div>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
