<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 0px;
      }
    </style>

    <div class="card">

            <paper-weather unit="c"
                 location="[[city]]"></paper-weather>


    </div>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }

      static get properties() {
        return {
          este_modulo: {
            type: String,
            observer: '_buscaCity'   //En cuanto cambie, que busque
                            // la ciudad del usuario conectado
          },
          city: {
            type: String,
            value: "Madrid"
          }
       }
      }
      // Vamos a meter un constructor para poder recoger lo que hay en
      // el bus de eventos, el id del usuario conectado, para poder pasarlo
      // al custom component visor-usuario
       constructor() {
         super();
         console.log("my-view2.html va a buscar al bus la ciudad del usuario conectado, si lo estuviese ");
         /*recojo del bus el módulo en el que estamos. De esta manera, al ver que
         hay cambio de módulo, se fuerza la ejecución de la consulta.
             Ver observer de la propiedad this.este_modulo*/
         let subscripter_modulo = PubSub.subscribe('modulo').on(value => this.este_modulo = value);

         let subscripter_user = PubSub.subscribe('city').on(value => this.city = value);

      } // Fin del constructor

      _buscaCity(){

        let subscripter_user = PubSub.subscribe('city').on(value => this.city = value);

      }

    } // Fin de la clase

    console.log ("Pongo en la variable modulo dónde estamos" );
    let subscripter_modulo_viewtransferencia= PubSub.subscribe('modulo').on(value => this.este_modulo = value);

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
