<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">


<link rel="import" href="./alta-cuenta/alta-cuenta.html">

<dom-module id="my-viewaltacuenta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>



  <div class="card">
      <div class="container">

        <!-- Invocamos al componente custom  -->
        <alta-cuenta user_id="{{codigo_usuario}}"></alta-cuenta>

    </div>
  </div>

</template>

  <script>
    class MyViewAltaCuenta extends Polymer.Element {
      static get is() { return 'my-viewaltacuenta'; }

      static get properties() {
        return {
          este_modulo: {
            type: String
          },
          codigo_usuario: {
            type: Number
          }
        };
      }

      // Vamos a meter un constructor para poder recoger lo que hay en
      // el bus de eventos, el id del usuario conectado, para poder pasarlo
      // al custom component visor-usuario
       constructor() {
         super();
         console.log("my-viewaltacuenta.html va a buscar al bus el usuario conectado ");

         let subscripter_user = PubSub.subscribe('usuario').on(value => this.codigo_usuario = value);

      } // Fin del constructor


    }  // Fin clase

console.log ("Pongo en la variable modulo dónde estamos" );
let subscripter_modulo_viewaltacuenta= PubSub.subscribe('modulo').on(value => this.este_modulo = value);
console.log ("Estamos en:" + this.este_modulo );

    window.customElements.define(MyViewAltaCuenta.is, MyViewAltaCuenta);
  </script>
</dom-module>
