<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">


<link rel="import" href="./alta-transferencia/alta-transferencia.html">

<dom-module id="my-viewtransferencia">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>



  <div class="card">
      <div class="container">

        <!-- Invocamos al componente custom  -->
        <alta-transferencia cuenta_id = {{codigo_cuenta}} IBAN={{IBAN}} user_id="{{codigo_usuario}}"></alta-transferencia>

    </div>
  </div>

</template>

  <script>
    class MyViewTransferencia extends Polymer.Element {
      static get is() { return 'my-viewtransferencia'; }

      static get properties() {
        return {
          este_modulo: {
            type: String
          },
          codigo_usuario: {
            type: Number
          },
          codigo_cuenta: {
            type: Number
          },
          IBAN: {
            type: String
          }
        };
      }

      // Vamos a meter un constructor para poder recoger lo que hay en
      // el bus de eventos, el id del usuario conectado, para poder pasarlo
      // al custom component visor-usuario
       constructor() {
         super();
         console.log("my-viewrtansferencia.html va a buscar al bus el usuario conectado ");

         let subscripter_user = PubSub.subscribe('usuario').on(value => this.codigo_usuario = value);
         console.log("el codigo_usuario es " + this.codigo_usuario);
         let subscripter_cuenta = PubSub.subscribe('idcuenta').on(value => this.codigo_cuenta = value);
         console.log("el codigo_cuenta es " + this.codigo_cuenta);
         let subscripter_IBAN = PubSub.subscribe('IBAN').on(value => this.IBAN = value);
         console.log("el  IBAN de la cuenta es " + this.IBAN);

      } // Fin del constructor


    }  // Fin clase


    window.customElements.define(MyViewTransferencia.is, MyViewTransferencia);
  </script>
</dom-module>
